button {

    width: 70px;
    background-color: #d7d7d7d7;
    color: black;
    border: 1px solid #ffffff;
    border-radius: 3%;
}

button:hover {

    background-color: #ffffff;
    color: black;
    border: 1px solid #ffffff;
    border-radius: 3%;
}